body {
    margin: 0;
    padding: 0;
}
.banner728x90 {
    width: 728px;
    height: 90px;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: arial, helvetica;
    font-size: 16px;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    background: #14b5eb;
    cursor: pointer;
}


#frame1{
	position: absolute;
	left: 0;
	top: 0;
	height: 90px;
	width: 728px;
	z-index: 2;
}
#frame2{
	position: absolute;
	left: 0;
	top: 0;
	height: 90px;
	width: 728px;
	z-index: 2;
}
#bg{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
#girl{
	position:absolute;
	top:0; 
	left:0; 
	z-index:3; 
	opacity:0;
}
#stack_paper{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
#paper1{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
#paper2{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
#paper3{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
#paper4{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
#paper5{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 4;
}
#paper6{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}
#paper7{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
}

#copy1, #copy2, #copy3{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	z-index: 1;
}

#bg1{
	position: absolute;
	top: 0;
	left: 0;
	width: 728px;
	height: 90px;
	background-color: #2c3d50;
	opacity: 0;
}



/*footer style*/
footer {
	position: absolute;
	top: 0px;
    left:458px;
	z-index: 100;
	width: 728px;
	height: 100%;
	/*background-color: #2c3e50;*/
}

.footer_bg1{
	position: absolute;
	bottom: 0px;
	width: 728px;
	height: 90px;
	background-color: #2c3e50;
}
.footer_bg2{
	position: absolute;
	top:0px;
    left: 650px;
	width: 728px;
	height: 90px;
	background-color: #2c3e50;
}
.holder2{
	position: absolute;
	left:650px;
}
.xero-logo {
	position: absolute;
	top: 25px;
	left: 20px;
	width: 40px;
	height: 40px;
}
.xero-tagline {
	position: absolute;
	top: 29px;
	left: 68px;
	width: 58px;
	height: 33px;
}
.button-cta1 {
	position: absolute;
	top: 29px;
	left: 132px;
	width: 118px;
	height: 32px;
	text-align: center;
	background-color: #27c229;
	border-radius: 3px;
}
.button-cta1 img {
	position: relative;
	left:0px;
	top: 9px;
	width: 68.67px;
	height: auto;
}
.banner728x90:hover .button-cta1 {
	background-color: #21a623;
	cursor: pointer;
}
.button-cta2 {
	position: absolute;
	top: 29px;
	left: 132px;
	width: 118px;
	height: 32px;
	text-align: center;
	background-color: #27c229;
	border-radius: 3px;
}
.button-cta2 img {
	position: relative;
	left:0px;
	top: 9px;
	width: 68.67px;
	height: auto;
}
.banner728x90:hover .button-cta2 {
	background-color: #21a623;
	cursor: pointer;
}